@font-face {
    font-family: "Oswald-Regular";
    src: url("Oswald-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Oswald-Light";
    src: url("Oswald-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Oswald-Bold";
    src: url("Oswald-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Oswald-SemiBold";
    src: url("Oswald-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Oswald-Medium";
    src: url("Oswald-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans";
    src: url("OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-Medium";
    src: url("OpenSans-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("OpenSans-Bold.ttf") format("truetype");
}